<!--<!DOCTYPE web-app PUBLIC-->
<!-- "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"-->
<!-- "http://java.sun.com/dtd/web-app_2_3.dtd" >-->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <!-- In this file we will declare and map servlets/filters to names and url patterns -->
  <servlet>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>com.ex.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userregistration</servlet-name>
    <servlet-class>com.ex.servlet.UserRegistrationComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userregistration</servlet-name>
    <url-pattern>/userregistrationcomplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personregistration</servlet-name>
    <servlet-class>com.ex.servlet.PersonRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personregistration</servlet-name>
    <url-pattern>/personregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>portalhome</servlet-name>
    <servlet-class>com.ex.servlet.Portal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>portalhome</servlet-name>
    <url-pattern>/portal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resetuserpassword</servlet-name>
    <servlet-class>com.ex.servlet.ResetUserPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetuserpassword</servlet-name>
    <url-pattern>/resetuserpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeuseraccess</servlet-name>
    <servlet-class>com.ex.servlet.ChangeUserAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeuseraccess</servlet-name>
    <url-pattern>/changeuseraccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>renameteam</servlet-name>
    <servlet-class>com.ex.servlet.RenameTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>renameteam</servlet-name>
    <url-pattern>/renameteam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setpracticeday</servlet-name>
    <servlet-class>com.ex.servlet.SetPracticeDay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setpracticeday</servlet-name>
    <url-pattern>/setpracticeday</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>startseason</servlet-name>
    <servlet-class>com.ex.servlet.StartSeason</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>startseason</servlet-name>
    <url-pattern>/startseason</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resetseason</servlet-name>
    <servlet-class>com.ex.servlet.ResetSeason</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetseason</servlet-name>
    <url-pattern>/resetseason</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>addgamescore</servlet-name>
    <servlet-class>com.ex.servlet.AddGameScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addgamescore</servlet-name>
    <url-pattern>/addgamescore</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>setupgamescore</servlet-name>
    <servlet-class>com.ex.servlet.SetupGamescore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setupgamescore</servlet-name>
    <url-pattern>/setupgamescore</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>forfeitgame</servlet-name>
    <servlet-class>com.ex.servlet.ForfeitGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forfeitgame</servlet-name>
    <url-pattern>/forfeitgame</url-pattern>
  </servlet-mapping>

</web-app>